# Some general ignore patterns
build/
obj/
*.o
Debug*/
Release*/
*.mode*
*.app/
*.pyc
.svn/


#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

#Code::Blocks
*.depend
*.layout

#Visual Studio
*.sdf
*.opensdf
*.suo
ipch/
*.db
*.opendb

#Eclipse
.metadata
local.properties
.externalToolBuilders


# OS-specific ignore patterns

#Linux
*~
# KDE
.directory

#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

#Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#Android
.csettings
/libs/openFrameworksCompiled/project/android/paths.make

# Miscellaneous
.mailmap
examples/example_win/bin/FreeImage.dll
examples/example_win/bin/Zlib.dll
examples/example_win/bin/assimp.dll
examples/example_win/bin/fmodex.dll
examples/example_win/bin/fmodex64.dll
examples/example_win/bin/fmodexL.dll
examples/example_win/bin/fmodexL64.dll
examples/example_win/bin/freetype.dll
examples/example_win/bin/glut32.dll
examples/example_win/bin/libeay32.dll
examples/example_win/bin/ssleay32.dll
